################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Debug
/Project3.vcxproj
/Project3.vcxproj.filters
